* {
    outline: 1px solid tomato--;
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header .header_wrap {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;

    height: 103px;
}

.header h1 img {
    vertical-align: middle;
}

.header .gnb {
    margin-left: auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 103px;
    left: 50%;
    z-index: 3;

    display: none;

    width: 200px;

    transform: translate(-50%, -24px);

    background: rgba(95, 153, 105, 0.75);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    min-width: 16px;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 103px;
    font-size: 17px;
    font-weight: 400;
    white-space: nowrap;
}

.header .gnb>ul>li ul a {
    display: block;
    line-height: 40px;
    color: #fff;
    text-align: center;
    /* padding-left: 16px; */
    white-space: nowrap;
}

.header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}


@media (max-width: 768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;
        border-bottom: 1px solid #ddd;
    }

    .header .header_wrap {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        height: 103px;

        /* r */
        margin: 0 16px;
    }

    .header h1 img {
        vertical-align: middle;
    }

    .header .gnb {
        margin-left: auto;

        /* r */
        /* display: none; */
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 999;


        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .75);

        transition: left 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }


    .header .gnb>ul {
        display: flex;
        gap: 40px;

        /* r */
        position: absolute;
        top: 0;
        left: 0;

        flex-direction: column;
        gap: 0;

        padding: 120px 24px 0 24px;
        width: calc(100% - 80px);
        height: 100vh;

        background: #fff;
    }

    .header .gnb>ul>li {
        position: relative;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 103px;
        left: 50%;
        z-index: 3;

        display: none;

        width: 200px;

        transform: translate(-50%, -24px);

        background: rgba(95, 153, 105, 0.75);
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);

        min-width: 16px;

        /* r */
        position: static;
        transform: translate(0, 0);

        width: auto;

        background: #277942;
        opacity: 0.5;
        border-radius: 0;
    }

    .header .gnb>ul>li:hover ul {
        display: block;
        /* r */
        display: none;
    }

    .header .gnb>ul>li>a {
        display: block;
        line-height: 103px;
        font-size: 17px;
        font-weight: 400;
        white-space: nowrap;

        /* r */
        position: relative;
        line-height: 48px;
        border-bottom: 1px solid #277942;
        padding: 0 0 0 16px;
        font-size: 18px;
        font-weight: 600;
    }

    /* r */
    .header .gnb>ul>li>a::before {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: 0;
        width: 4px;
        height: 4px;
        background: #333;
        border-radius: 50%;

    }

    .header .gnb>ul>li ul a {
        display: block;
        line-height: 40px;
        color: #fff;
        text-align: center;
        /* padding-left: 16px; */
        white-space: nowrap;

        /* r */
        padding: 0 0 0 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .header .gnb>ul>li ul li~li a {
        border-top: 1px solid #ddd;
    }

    .header .mbtn {
        /* r */
        display: block;
        position: fixed;
        right: 16px;
        top: 32px;
        z-index: 999;

        width: 32px;
        height: 32px;
        background: #fff;
        border: 1px solid #277942;
    }

    /* r */
    .header .mbtn::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #277942;
    }

    .header .mbtn.on::before {
        display: none;
    }

    .header .mbtn::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #277942;
    }

    .header .mbtn.on::after {
        display: none;
    }

    .header .mbtn span::before {
        content: "";
        position: absolute;
        top: 14px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #277942;
    }

    .header .mbtn.on span::before {
        transform: rotate(45deg);
    }

    .header .mbtn span::after {
        content: "";
        position: absolute;
        top: 14px;
        left: 4px;
        right: 4px;

        height: 2px;
        background: #277942;
    }

    .header .mbtn.on span::after {
        transform: rotate(-45deg);
    }

}


.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    height: calc(100vh - 80px);
    background-position: center center;
    background-size: cover;
}


.main_visual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual_01.jpg);
}

.main_visual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual_04.jpg);
}

.main_visual .main_visual_slide .itm03 {
    background-image: url(../images/main_visual_03.jpg);
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
}

.main_visual .slg strong {
    display: block;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.main_visual .slg p {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

.main_visual .scroll {
    position: absolute;
    bottom: 120px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 2px;
    height: 8px;
    background: #fff;

    border-radius: 2px;

    animation: wheel 0.8s infinite;
}

.main_visual .scroll::after {
    content: "";
    display: block;
    width: 32px;
    height: 48px;
    border: 2px solid #fff;

    border-radius: 16px;

    margin: 0 auto;
    margin-top: 24px;
}

.main_visual .scroll span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}

@media (max-width: 768px) {
    .main_visual {
        position: relative;
    }

    .main_visual .main_visual_slide .itm {
        height: calc(100vh - 80px);
        background-position: center center;
        background-size: cover;

        /* r */
        height: 480px;
    }


    .main_visual .main_visual_slide .itm01 {
        background-image: url(../images/main_visual_01.jpg);
    }

    .main_visual .main_visual_slide .itm02 {
        background-image: url(../images/main_visual_04.jpg);
    }

    .main_visual .main_visual_slide .itm03 {
        background-image: url(../images/main_visual_03.jpg);
    }

    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;
    }

    .main_visual .slg strong {
        display: block;
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 16px;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

        /* r */
        font-size: 10vw;
        margin: 0 16px;
        margin-bottom: 8px;
    }

    .main_visual .slg p {
        font-size: 17px;
        line-height: 24px;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);

        /* r */
        font-size: 3vw;
        margin: 0 16px;
    }

    .main_visual .scroll {
        position: absolute;
        bottom: 120px;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);

        /* r */
        /* bottom: 240px; */
        display: none;
    }

    .main_visual .scroll::before {
        content: "";
        position: absolute;
        top: 48px;
        left: 50%;
        transform: translate(-50%, 0);

        width: 2px;
        height: 8px;
        background: #fff;

        border-radius: 2px;

        animation: wheel 0.8s infinite;
    }

    .main_visual .scroll::after {
        content: "";
        display: block;
        width: 32px;
        height: 48px;
        border: 2px solid #fff;

        border-radius: 16px;

        margin: 0 auto;
        margin-top: 24px;
    }

    .main_visual .scroll span {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
    }
}

.main_introduction .title h2 strong {
    display: block;
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    color: #277942;
}

.main_introduction .title p {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
}

.main_introduction .inner {
    display: flex;
    gap: 30px;
}

.main_introduction .inner>* {
    width: 100%;
}

.main_introduction .inner img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .main_introduction .title h2 strong {
        display: block;
        text-align: center;
        font-size: 56px;
        font-weight: 800;
        color: #277942;

        /* r */
        line-height: 9vw;
        margin: 0 16px;
        font-size: 8vw;
    }

    .main_introduction .title p {
        display: block;
        text-align: center;
        font-size: 16px;
        margin-top: 24px;

        /* r */
        font-size: 3vw;
    }

    .main_introduction .inner {
        display: flex;
        gap: 30px;

        /* r */
        flex-direction: column;
    }

    .main_introduction .inner>* {
        width: 100%;
    }

    .main_introduction .inner img {
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
}

.main_benefit .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.main_benefit .inner>* {
    /* flex: ; */

    background-color: var(--w-color);
    border: 1px solid #ddd;
    padding: 240px 40px 16px 40px;
}

.main_benefit .itm {
    position: relative;
}

.main_benefit .itm strong {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.main_benefit .itm p {
    text-align: center;
    margin-bottom: 24px;
}

.main_benefit .itm::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 160px;
    height: 160px;

    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 80px;
}

.main_benefit .icon01::after {
    background-image: url(../images/main_benefit01.png);
}

.main_benefit .icon02::after {
    background-image: url(../images/main_benefit02.png);
}

.main_benefit .icon03::after {
    background-image: url(../images/main_benefit03.png);
}

.main_benefit .icon04::after {
    background-image: url(../images/main_benefit04.png);
}

.main_benefit .icon05::after {
    background-image: url(../images/main_benefit05.png);
}

.main_benefit .icon06::after {
    background-image: url(../images/main_benefit06.png);
}

@media (max-width: 768px) {
    .main_benefit .inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        /* r */
        display: flex;
        flex-direction: column;
    }

    .main_benefit .inner>* {
        /* flex: ; */

        background-color: var(--w-color);
        border: 1px solid #ddd;
        padding: 240px 40px 16px 40px;

        /* r */
        padding: auto;
    }

    .main_benefit .itm {
        position: relative;
    }

    .main_benefit .itm strong {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .main_benefit .itm p {
        text-align: center;
        margin-bottom: 24px;

        /* r */
        font-size: 3vw;
    }

    .main_benefit .itm::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 160px;
        height: 160px;

        background-color: var(--primary-color);
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 80px;
    }

    .main_benefit .icon01::after {
        background-image: url(../images/main_benefit01.png);
    }

    .main_benefit .icon02::after {
        background-image: url(../images/main_benefit02.png);
    }

    .main_benefit .icon03::after {
        background-image: url(../images/main_benefit03.png);
    }

    .main_benefit .icon04::after {
        background-image: url(../images/main_benefit04.png);
    }

    .main_benefit .icon05::after {
        background-image: url(../images/main_benefit05.png);
    }

    .main_benefit .icon06::after {
        background-image: url(../images/main_benefit06.png);
    }

}


.main_store {
    position: relative;
    background: url(../images/main_store01.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.main_store::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}

.main_store .title {
    position: relative;
    margin-bottom: 0;
}

.main_store .title h2 {
    color: var(--w-color);
    font-weight: 700;
}

.main_store .title .desc {
    color: var(--w-color);
    margin-top: 8px;
}


.main_brandstory .title h2 strong {
    display: block;
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    color: var(--primary-color);
}

.main_brandstory .title h2 span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 24px;
    color: var(--primary-color);
}

.main_brandstory .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}


.main_brandstory .inner strong {
    font-size: 80px;
    font-weight: 800;
    color: #ddd;
}

.main_brandstory .content h2 strong {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
}

.main_brandstory .content p {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 32px;
}

.main_brandstory .content .img_box {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
}

.main_brandstory .content .img_box img {
    height: 100px;
    object-fit: cover;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .main_brandstory .title h2 strong {
        display: block;
        text-align: center;
        font-size: 56px;
        font-weight: 800;
        color: var(--primary-color);

        /* r */
        font-size: 11vw;
    }

    .main_brandstory .title h2 span {
        display: block;
        text-align: center;
        font-size: 16px;
        margin-top: 24px;
        color: var(--primary-color);

        /* r */
        margin-bottom: 16px;
    }

    .main_brandstory .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;

        /* r */
        flex-direction: column;
    }


    .main_brandstory .inner strong {
        font-size: 80px;
        font-weight: 800;
        color: #ddd;

        /* r */
        font-size: 8vw;
    }

    .main_brandstory .content h2 strong {
        display: block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin-top: 32px;

        /* r */
        font-size: 4vw;
    }

    .main_brandstory .content p {
        display: block;
        text-align: center;
        font-size: 16px;
        margin-top: 32px;
    }

    .main_brandstory .content .img_box {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 48px;
    }

    .main_brandstory .content .img_box img {
        height: 100px;
        object-fit: cover;
        opacity: 0.5;
    }
}

.main_product .swiper-wrapper {
    transition-timing-function: linear;
}

.main_product .main_product_slide .itm .img_box {
    margin-bottom: 24px;
}

.main_product img {
    width: 100%;
}


.footer {
    padding: 80px 0;
    background: #333;
}

.footer .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .sns {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.footer .customer {
    display: flex;
    gap: 32px;
    margin-bottom: 8px;
}

.footer .customer a {
    color: var(--w-color);
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translate(0, -50%);

    width: 1px;
    height: 0.5em;
    background: #999;
}

.footer .tel {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 16px;
    color: var(--w-color);
    opacity: 0.5;
}

@media (max-width: 768px) {
    .footer {
        padding: 80px 0;
        background: #333;
    }

    .footer .inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        /* r */
        align-items: flex-start;
    }

    .footer .sns {
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }

    .footer .customer {
        display: flex;
        gap: 32px;
        margin-bottom: 8px;

        /* r */
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    .footer .customer a {
        color: var(--w-color);
    }

    .footer .customer li {
        position: relative;
    }

    .footer .customer li~li::before {
        content: "";
        position: absolute;
        left: -16px;
        top: 50%;
        transform: translate(0, -50%);

        width: 1px;
        height: 0.5em;
        background: #999;

        /* r */
        display: none;
    }

    .footer .tel {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 16px;
        color: var(--w-color);
        opacity: 0.5;
    }
}

.to_top {
    position: fixed;
    bottom: 240px;
    right: -80px;
    z-index: 999;

    width: 48px;
    height: 48px;
    border-radius: 50px;
    background: var(--primary-color);

    transition: 0.4s;
}

.to_top.on {
    right: 80px;
}

@media (max-width: 768px) {
    .to_top {
        position: fixed;
        bottom: 240px;
        right: -80px;
        z-index: 999;

        width: 48px;
        height: 48px;
        border-radius: 50px;
        background: var(--primary-color);

        transition: 0.4s;

        /* r */
        border-radius: 0;
    }

    .to_top.on {
        right: 80px;

        /* r */
        bottom: 0;
        right: 0;
    }
}

#flk {
    background: #333;
    color: var(--w-color);
    font-size: 14px;
    padding: 8px 24px;
}